VITE_SUPABASE_URL=https://ubqkwiooqjlutsxvbcgx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVicWt3aW9vcWpsdXRzeHZiY2d4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxNjQ1NzIsImV4cCI6MjEwMDc0MDU3Mn0.mNmYoR-5szWE69VMN3mDsXFss1LVv-IYpkufeRUpYzc
